.header {
  padding: 45px 200px 40px;
}

.header__logo {
  width: 100%;
  max-width: 173px;
  display: block;
  padding-bottom: 41px;
}

.header__line {
  width: 100%;
  height: 1px;
  background-color: #545454;
  border: none;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1000px) {
}
